.navbar-default {
  background-color: #518DCA;
  border-color: #518DCA;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 1);
}

.navbar-default .navbar-nav > li > a {
  color: #FFF;
}

.js-account-menu{
  font-family: "ProximaFont";
  padding-right: 50px;
  float:right;
}

#logo {
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: -5px;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  text-indent: -9999px;
}

.wrapper {
  margin-top: 50px;
  width: 100%;
  max-width: none !important;
}

#sidebar {  
  padding: 0 !important;
  width: 250px;
  background-color: #2C3E50;
  position: fixed;
  height: 100vh;
}

.block-header {
  font-family: "ProximaFont";
  color: #9CB3CA;	
  padding: 10px;
  background-color: #4F657B;
  height: 40px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #1A2733;
}

.page-tab {
  width: 180px;
  height: 35px;
  padding: 8px 20px 0px 20px;
  border-radius: 5px;
  margin: 15px auto;
  background-color: #4F657B;
}

#page-tab-new {
  background-color: #2C3E50;
  border-color: #4F657B;
  border-style: solid;
  border-width: 2px;
  padding: 5px 20px 0px 20px;
}

#page-tab-font-new::-webkit-input-placeholder {
   color: #4f657B;
}

#page-tab-font-new:-moz-placeholder { /* Firefox 18- */
   color: #4f657B;  
}

#page-tab-font-new::-moz-placeholder {  /* Firefox 19+ */
   color: #4f657B;  
}

:#page-tab-font-new-ms-input-placeholder {  
   color: #4f657B;  
}

#page-tab-font-new {
  font-family: "ProximaFont";
  color: #FFF;
  width: 115px;
  outline: 0px solid transparent;
  background: none;
  border: none;
}

.plus-sign { 
 left: 15px;
 color: #4F657B;
}

.element-box {
  border-style: solid;
  border-width: 1px;
  border-color: #21313F;
  padding-top: 20px;
  background-color: #34485C;
}

.element-box:hover {
  cursor: move;
  background-color: #3c5065;
}

#editor-canvas {
  height: 100%;
  position: absolute;
  left: 250px;
  max-width: 80%;
}

#site-grid {
  font-family: "ProximaFont";
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #1A2733;
  padding: 15px 40px 5px 40px;
  width: auto;
  height: 50px;
  margin-bottom: 100px;
}

.element-icon {
  width: 50px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.element-font {
  color: #5B7389;
}

#switch {
  left: 125px;
  top: -32px;
}

/* generated */
.onoffswitch {
    position: relative; width: 55px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #1C2A35; border-radius: 19px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 20px; padding: 0; line-height: 20px;
    font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 5px;
    background-color: #A3BE5F; color: #31332D;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 5px;
    background-color: #50657A; color: #A1B6CB;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 26px; margin: -1px;
    background: #95ABC2;
    position: absolute; top: 0; bottom: 0;
    right: 30px;
    border: 2px solid #1C2A35; border-radius: 19px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.no-right-padding {
  padding-top: 0 !important;
  padding-left: 0 !important;
  padding-bottom: 0 !important;
}

.no-left-padding {
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
}

#elements{
  height: 100%;
}

.page-tab-fonts {
  color: #ffffff;
  width: 100px;
  background: none;
  border: none;
}

.page-tab-fonts:focus {
  outline: 0
}

.page-tab-fonts::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ffffff;
}
.page-tab-fonts:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #ffffff;
   opacity:  1;
}
.page-tab-fonts::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ffffff;
   opacity:  1;
}
.page-tab-fonts:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #ffffff;
}

@font-face {
  font-family: 'ProximaFont';
  src: url(../fonts/ProximaNova-Reg.otf);
}

@font-face {
  font-family: 'ProximaFontBold';
  src: url(../fonts/VAGRoundedStd-Bold.otf);
}

.page-tab-settings-icons {
  position: relative;
  top: -24px;
  left: 134px;
  margin-right: 5px;
  visibility: hidden;
}

.page-edit {
  left: 10px;
  top: 0px;
  color: #94A2AF;
  font-size: 12px;
  cursor: pointer;
}

.active .page-edit, .active .page-delete{
  color: #96BADF;
}

.page-delete{
  top: -20px;
  left: 132px;
  visibility: hidden;
  color: #94A2AF;
  font-size: 15px;
  cursor: pointer;
}

.page-tab:hover .page-tab-settings-icons {
  visibility: visible;
}

.page-nav-row {
  margin: 45px auto;
  width: 87%;
}

.page-tab-nav {
  width: 130px;
  height: 40px;
  margin-right: 14px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #8498ac;
  padding-top: 8px;
  font-family: "ProximaFont";
  color: #8498ac;
}

.page-tab-nav-active {
  background-color: #97aabc;
  color: #ffffff;
}

.active {
  background-color: #518dca;
}

.image-body-row {
  width: 87%;
  height: 283px;
  margin: 50px auto;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: #8498ac;
  background-color: #eff2f5;
}

.image-body-row-has-image{

  width: 87%;
  height: auto !important;
  margin: 50px auto;
  border: none !important;
  background-color: #fff !important;
}

.image-placeholder {
  width: 130px;
  height: auto;
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
}

.image-placeholder-text {
  margin-top: -10px;
  margin-left: -12px;
  color: #c0ccd8;
  font-size: .9em;
  font-family: 'ProximaFont';
}

.image-plus {
  width: 10px;
  height: auto;
  position: relative;
  top: -30px;
  left: 39px;
  color: #A8AAAC;
  size: 28px;
  font-size: 10px;
}

.title-row {
  width: 87%;
  margin: 40px auto;
}

.title {
  font-family: 'ProximaFont';
  font-size: 2em;
  color: #4f657b;
}

.text-row {
  width: 87%;
  margin: 5px auto 50px auto;
}

.text {
  resize: vertical;
  width: 95%;
  border: none;
  height: auto;
}

textarea {
  overflow-y: hidden; /* prevents scroll bar flash */
  padding-top: 1.1em; /* prevents text jump on Enter keypress */
}

.sort-placeholder-highlight {
  height: 1px;
  border-color: #8cc2f5;
  border-style: dashed;
}

.ui-resizable-s {
  background-color: #8cc2f5;
  height: 2px;
}

.js-removeElement{
  display:none;
  float: right;
}

.text-row:hover .js-removeElement,
.image-body-row:hover .js-removeElement,
.title-row:hover .js-removeElement {
    display: block !important;
    padding: 5px;
    color: #EC7C76;
    cursor: pointer;
}

.text-row:hover .glyphicon-move,
.image-body-row:hover .glyphicon-move,
.title-row:hover .glyphicon-move {
    display: inline-block !important;
    padding: 5px;
    cursor: pointer;
    overflow: auto;
}

.red-border{
  border-color:#EC7C76;
}






