<input class="js-tab-title page-tab-fonts" placeholder="{{title}}" maxlength="14" readonly/>
<span class="page-tab-settings-icons js-tab-edit glyphicon glyphicon-pencil"></span>
<span class="page-tab-settings-icons js-tab-delete glyphicon glyphicon-remove"></span>