<input id="page-title" class="sidebar-font page-tab-fonts" placeholder="{{title}}" maxlength="12" readonly/>
<span class="page-tab-settings-icons page-edit glyphicon glyphicon-pencil"></span>
<span class="page-tab-settings-icons page-delete glyphicon glyphicon-remove"></span>
<div class="page-tab-bg"></div>