<input id="page-title" class="sidebar-font page-tab-fonts" placeholder="{{title}}" maxlength="12" readonly/>
<img class="page-tab-settings-icons page-edit" src="assets/page-tab-edit-icon.png">
<img class="page-tab-settings-icons page-delete" src="assets/page-tab-delete-icon.png">
<div class="page-tab-bg"></div>
