<input class="js-tab-title sidebar-font page-tab-fonts" placeholder="{{title}}" maxlength="12" readonly/>
<span class="page-tab-settings-icons js-tab-edit glyphicon glyphicon-pencil"></span>
<span class="page-tab-settings-icons js-tab-delete glyphicon glyphicon-remove"></span>
<div class="page-tab-bg"></div>